# Puerto en el que escuchará el juego en la VPS
PORT=3000

# Credenciales de la Base de Datos PostgreSQL
POSTGRES_USER=neumo_user
POSTGRES_PASSWORD=neumo_secure_pass_2024
POSTGRES_DB=neumoflux_db

# Broker MQTT (por defecto EMQX WebSockets seguro)
MQTT_BROKER_URL=wss://broker.emqx.io:8084/mqtt
